<div class="container">

    <div class="page-header">
        <h1>Add Customer</h1>
    </div>
        <form class="form-horizontal" name="customerForm">
        <div class="form-group">
        <span class="form-group-addon" id="basic-addon1">Name</span>
        <input type="text" class="form-control" placeholder="Username" name="name" ng-model="customer.Name"  required>
    </div>

    <div class="form-group">
        <span class="form-group-addon" id="basic-addon2">Location</span>
        <input type="text" class="form-control" name="Location" placeholder="Location" aria-describedby="basic-addon1" ng-model="customer.Location" required>
    </div>


    <div class="form-group">
        <span class="form-group-addon" id="basic-addon3">Orders</span>
        <input type="text" class="form-control" aria-describedby="basic-addon1" ng-init="customer.orders=0" ng-model="customer.orders" required>
    </div>


        <div class="form-group">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown">Select Picture <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a ng-click="customer.image='/images/female_user_icon.png'">/images/female_user_icon.png</a></li>
                    <li><a ng-click="customer.image='/images/male_user_icon.png'">/images/male_user_icon.png</a></li>
                </ul>

            </div><!-- /btn-group -->
            <input type="text" class="form-control"  name="image" ng-model="customer.image" readonly required>
        </div><!-- /input-group -->
    <!-- /.col-lg-6 -->

<!-- /.row -->

    <div class="form-group">
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" ng-click="addCustomer()" ng-disabled="customerForm.$invalid">Add</button>
            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
            <button type="button" class="btn btn-default" ng-click="customer={orders:0}">Reset</button>
        </div>
    </div>
</form>

</div>
