<div class="container">
    <form>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Name</span>
        <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" ng-model="customer.Name">
    </div>

    <div class="input-group">
        <span class="input-group-addon" id="basic-addon2">Location</span>
        <input type="text" class="form-control" placeholder="Location" aria-describedby="basic-addon1" ng-model="customer.Location">
    </div>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon3">Orders</span>
        <input type="text" class="form-control" aria-describedby="basic-addon1" ng-init="customer.orders=0" ng-model="customer.orders">
    </div>
    <div class="row">
    <div class="col-md-12">
        <div class="input-group">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Images <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a ng-click="customer.image='/images/User.jpg'">/images/User.jpg</a></li>
                </ul>
            </div><!-- /btn-group -->
            <input type="text" class="form-control" ng-model="customer.image" ng-disabled="true">
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->

</div><!-- /.row -->

    <div>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" ng-click="addCustomer()">Add</button>
            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
            <button type="button" class="btn btn-default" ng-click="customer={}">Reset</button>
        </div>
    </div>
</form>


</div>
