<div ng-class="row">

    <div class="col-md-12">

<div   ng-repeat="name in names |filter:filterName:strict| paginator : pageParameters.currentPage: pageParameters.maxItemsPerPage | limitTo:pageParameters.maxItemsPerPage" >



    <div class="col-md-3">
    <div class="panel panel-primary" >
        <div class="panel-heading">{{name.Name}}<button type="button" class="close" ng-click="delete(name)">x</button> </div>
        <div class="panel-body">
            <div class="row">
              <div class="col-md-4">
             <img ng-src="{{name.image}}" width="70" height="70">
               </div>
              <div class="col-md-8">
            <p>{{name.Location}}</p>
            <p>{{name.orders}} Orders</p>
            <a href="#/editCustomer" ng-click="doEdit($index)">Edit</a>
              </div>

        </div>
    </div>

    </div>
     </div>

</div>
    </div>
    <div class="col-md-12" ng-hide="pageParameters.itemsCount">
        <h1 align="center">NO CUSTOMERS TO DISPLAY &#9785;</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12" ng-show="pageParameters.itemsCount">

        <nav>
            <ul class="pagination">
                <li ng-class="pageParameters.isFirstPage() && 'disabled'"><a href="" ng-click="pageParameters.firstPage()" >First</a></li>
                <li ng-class="pageParameters.isFirstPage() && 'disabled'">
                    <a href="" aria-label="Previous" ng-class="pageParameters.isEmpty() && 'disabled'" ng-click="pageParameters.perviousPage()">
                        <span aria-hidden="true">Previous</span>
                    </a>
                </li>

                <li ng-repeat="i in [] | linkGenerator:pageParameters.pageStart:pageParameters.totalPages" ng-class="pageParameters.currentPage==i && 'active'" ><a href="" ng-click="pageParameters.currentPage=i" >{{i+1}}</a></li>

                <li ng-class="pageParameters.isLastPage() && 'disabled'">
                    <a href="" ng-click="pageParameters.nextPage()" ng-class="pageParameters.isEmpty() && 'disabled'"aria-label="Next">
                        <span aria-hidden="true">Next</span>
                    </a>
                </li>
                <li ng-class="pageParameters.isLastPage() && 'disabled'" ng-click="pageParameters.lastPage()"><a  ng-class="pageParameters.isLastPage() && 'icon-white'">last</a></li>
            </ul>
        </nav>

    </div>
</div>
<div class="row">
    Showings {{pageParameters.visibleCustomers}} of {{pageParameters.itemsCount}} customers
    
</div>


